{% extends "layout.html" %}
{% block body %}

<div style="text-align: center; margin-top: 30px">
    <a href="/register">
        <button class="btn btn-primary" type="button"
            style="border-radius: 10px; width: 100%; background-color: #1877F2; color: white; border: none;">Create new
            account</button>
    </a>
</div>

<div style="text-align: center; margin-top: 30px;">
    <a href="/facereg">
        <button class="btn  btn-success" type="button"
            style="border-radius: 10px; width: 100%; background-color: #28A745; color: white; border: none;">Register face</button>
    </a>
</div>

{% endblock %}