{% extends "layout.html" %}
{% block body %}

<div class="header d-flex justify-content-end" style="position: relative; left: -50px;">
    <h5>
        <a href="/login">Volver</a>
    </h5>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<div class="container text-center">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="font-size: 20px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div
    style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100vh; margin: 0; padding: 0;">
    <div style="position: relative; width: 640px; height: 480px;">
        <canvas id="canvas"
            style="position: absolute; top: 0; left: 0; z-index: -1; width: 640; height: 480pz;"></canvas>
        <video id="player" autoplay style="width: 640px; height: 480px;"></video>
    </div>

    <button id="capture" class="btn btn-primary" onclick="capture()"
        style="border-radius: 10px; margin-top: 20px; padding: 10px 20px; font-size: 14px;">Capture</button>

    <form action="/facereg" method="POST" enctype="multipart/form-data" style="margin-top: 20px;">
        <input type="text" id="pic" name="pic" style="display: none;">
        <button id="scan" class="btn btn-primary"
            style="border-radius: 10px; padding: 10px 20px; font-size: 14; display: none;"></button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/face.js') }}"></script>

{% endblock %}